@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root {
  font-family: 'Parkinsans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --topbar-height: 50px;

  --brand: #401ca5;
  --brand-hover: #32128a;
  --brand-light: #9c8cc9;
}

body {
  @apply text-ink min-h-screen m0 text-base;
}

.content-wrap {
  @apply px-4 lg:px-8 w-full relative;
}

/* h1 {
  @apply text-2xl font-500 mb4;
}

h2 {
  @apply text-xl;
} */

input[type='submit'],
button {
  @apply btn;
}

input[type='text'],
textarea {
  @apply bg-slate-1 border-gray-3 border-1 px-2 py-1 text-4 rounded-sm transition-all;
  @apply dark:bg-slate-1 dark:bg-opacity-10 dark:text-slate-1 dark:border-gray-5;
}

input[type='text']:focus,
textarea:focus {
  @apply outline-3 outline-solid outline-transparent shadow-sm;
}

textarea.input {
  resize: vertical;
}

a,
button,
.btn {
  @apply cursor-pointer;
}

/* a {
  @apply text-rose-6 hover:bg-amber-2 focus:bg-amber-2;
} */

/* a:focus,
button:focus,
input:focus,
.btn:focus {
  @apply outline-2 outline-pink-5 outline-solid;
} */

.text-error {
  @apply text-red text-xs;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.btn > div[class*='close'] {
  /* @apply text-140%; */
  font-size: 140%;
}

.btn > div[class*='trash'] {
  font-size: 120%;
}
